<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        Filter
      </li>
      <li>
        <input type="checkbox" ng-click="addFilter('free')"/>Free
        <input type="checkbox" ng-click="addFilter('pay')"/>Pay

      </li>
    </ul>
  </div>

<header class="hero-unit" id="banner">
  <div class="container-fluid">
    <h1>Tables.js</h1>
    <p class="lead">Comparison of JavaScript table/grid libraries</p>
  </div>
</header>

  <div id="page-content-wrapper">
<div class="container-fluid">
  <div class="row">

    <div class="row">
      <div class="col-lg-12">
        <h3>Latest Libraries</h3>
      </div>
    </div>

    <div class="row text-center">

      <div class="col-md-3 col-sm-6 hero-feature"  ng-repeat="library in awesomeThings |filter:categoryFilter">
        <div class="thumbnail" style="height:450px">
          <img ng-src="{{library.image}}" alt="" style="width:250px; height:150px">
          <div class="caption">
            <h3>{{library.name}}</h3>
            <p>{{library.description}}</p>
            <p>
              <a href="" class="btn btn-primary">Demo</a> <a href="{{library.src}}" target="_blank" class="btn btn-default">More Info</a>
            </p>
          </div>
        </div>
      </div>

    </div>

    <hr>

  </div>
  </div>


</div>
</div>
